
<%= form_for [@group, @post, @post_comment] do |f| %>
    <div>Content</div>
    <div><%= f.text_area :content %></div>
    <div><%= f.submit "publish changes"%></div>
<%end%>

<%= link_to 'Delete', group_post_post_comment_path(@post_comment), method: :delete,
                         data: { confirm: 'Are you sure?' } %>
