/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self

 */
 *{
   font-family: 'Work Sans', sans-serif;
 }
.navbar{
  margin-bottom: 0;
}
.navbar-item{
  margin: auto;
  text-decoration: none;
  font-weight: bold;
}
.navbar-item:hover{
  background-color: #110045;
}
.navbar-item:hover, .nav-link{
  color: white;
}
a{
  text-decoration: none !important;
}
.navbar-brand{
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}
.logged-out-links{
  float: right;
  margin: 0;
}
.card-background{
  background-color: #110045
}
.inner-card-background{
  background-color: white;
  width: 50%;
  text-align: center;
  margin: 20px auto !important;
}
.carousel-caption{
  color: white;
  position: absolute;
  top: 100px;
  text-shadow: 2px 2px 4px #000000;

}
.caption-h2{
  /* font-weight: bold; */
  font-size: 70px;
}
.caption-p{
  font-size: 30px;
}
.free-post{
  padding: 5px;
  color: white;
  background-color: green;
  display: inline;
}
