// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#groups-show-wrapper{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#members-list{
  grid-column: 1 / 2;
}
#post-list{
  grid-column: 2 / 5;
}
#group-info{
  grid-column: 1 / 5;
  margin-bottom: 30px;
}
